body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    perspective: 800px;
}

.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    /* transform: rotateX(-30deg) rotateY(45deg); */
    animation: spin 10s infinite linear;
}

.face{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 200px;
    height: 200px;   
    border:4px solid #333;

}

.grid{
    border:4px solid #333;
}

.front .grid{ background-color: red;}
.back .grid{ background-color: green;}
.left .grid{ background-color:yellow;}
.right .grid{ background-color:blue;}
.top .grid{ background-color: orangered;}
.bottom .grid{ background-color:white;}



.front{transform: rotateY(0deg) translateZ(100px);}
.back{transform: rotateY(180deg) translateZ(100px);}
.left{transform: rotateY(-90deg) translateZ(100px);}
.right{transform: rotateY(90deg) translateZ(100px);}
.top{transform: rotateX(90deg) translateZ(100px);}
.bottom{transform: rotateX(-90deg) translateZ(100px);}

@keyframes spin{
    from{
        transform: rotateX(0) rotateY(0);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}